body{
    background-image: linear-gradient(to right, #D14D72 , #FFABAB);
}

.container{
   
    height: 90vh;
    display: flex;
    justify-content:flex-start;
    align-items: center;
   
    
}

.caption > p{
    font-size: 95px;
    font-weight: 700;
    color: #EEEEEE;
    padding-right: 100px;
}

.caption > .btn{
    margin-top: 20px;
    background-color: #323232;
    border: 3px solid #FA4EAB;
    color: #FFF2F9;
}

.caption > .btn:hover{
    border: 3px solid #FFF2F9;
    color: #FE83C6;
}


.landingimg{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
}

.section{
    width: 100%;
    max-width: 100%; 
    margin: 0 auto;
    box-sizing: border-box;
    background-color: #EEEEEE;
    margin-bottom: 80px;
    
   
}

.section > .row > .col > p{
    margin-right: 200px;
    margin-left: 50px;
}

.section > .row > .col > h4{
    margin-left: 50px;
}

.indent{
    text-indent: 50px;
}

.end{
    text-align: right;
}


.nav-item{
    margin-right: 20px;
    font-size: 20px;
    font-weight: 600;
    padding-top: 20px;
}

.nav-link{
    color: #EEEEEE;
}

.nav-link:hover{
    background-color:#EEEEEE ;
    color: #D14D72;

}

.reason {
    padding: 30px;
    width: 30%;
    background-color: #EEEEEE;
    border-radius: 30px;
}

 .reasons{
    flex-direction: column;
   
}

.reason > h2{
    color: #D14D72;
}

.reason > p{
    color: #D14D72;
    font-size: 20px;
    padding-bottom: 0%;
    margin-bottom: 2%;
}

.left{
   align-self: start;
}

.right{
   
   align-self: flex-end;
}

#description{
    font-size: 16px;
    color: #45474B;
    
}







@media screen and (max-width: 768px){
    .caption > p{
        display: flex;
        font-size: 50px;
        justify-content: center;
        align-items: center;
    }
    .container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 150vh;
    }

    .landingimg{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 75vh;
    }

    .reasons{
       display: inline;
       justify-content: center;
       align-items: center;
    }

    .reason{
        margin-top: 20px;
        width: 60%;
    }

   .left{
    display: block;
    margin-left: auto;
    margin-right: auto;
   }

    .right{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .section{
        height: 50vh;
    }

    .section > .row > .col > p{
        margin-right: 0px;
        margin-left: 0px;
    }

    .section > .row > .col > h4{
        margin-left: 0px;
    }

    


}
